<h2>Menú</h2>

<a asp-controller="Opciones" asp-action="Index" class="btn btn-secondary">Listar Opciones</a>
<a asp-controller="Rol" asp-action="Index" class="btn btn-secondary">Listar Roles</a>
<a asp-controller="Tickets" asp-action="Index" class="btn btn-secondary">Listar Tickets</a>
<a asp-controller="Usuarios" asp-action="Index" class="btn btn-secondary">Listar Usuarios</a>