<h2>Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rol in Model)
        {
            <tr>
                <td>@rol.id_rol</td>
                <td>@rol.des_rol</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Menu" asp-action="Index" class="btn btn-secondary">Volver</a>